@page "/"
@using Microsoft.AspNetCore.Components.Web




<!-- Seção 1: Logo central em destaque -->
<section class="hero-logo-section">
    <img src="images/Logo-Pole-sem-funda2.png" alt="Logo-PolePosition" />
</section>

<!-- Seção 2: Ferrari + Funcionalidades -->
<section class="feature-section">
    <div class="ferrari-img">
        <img src="images/Ferrari-F1.jpg" alt="Carro Ferrari F1" />
    </div>
    <div class="features">
        <h2>Funcionalidades</h2>
        <ul>
            <li>Visualizar ranking dos pilotos</li>
            <li>Estatísticas de corridas</li>
            <li>Melhor volta</li>
        </ul>
    </div>
</section>

<!-- Seção 3: Descrição -->
<section class="bottom-description">
    <p>
        O PolePosition é um portal dedicado aos fãs do automobilismo. Aqui você acompanha o desempenho dos pilotos, estatísticas, rankings e muito mais!
    </p>
</section>

